{{#get "posts" limit="1" filter="tags:hash-editors-pick" include="tags,authors"}}
    {{#foreach posts}}
        <section class="relative">
            <img 
                src="{{feature_image}}" 
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                class="h-[500px] w-[60%] ml-[40%] object-cover"
            >
            <div class="absolute top-0 left-0 right-0 bottom-0 bg-gradient-to-l from-transparent via-black to-black flex items-center">
                <div class="container">
                    <div class="py-10 text-white">
                        <h4 class="text-sm text-white/70 uppercase">Editors&apos; Pick</h4>
                        <a href="{{url}}">
                            <h3 class="text-5xl font-bold text-white max-w-[600px] block mt-6 mb-4">{{title}}</h3>
                        </a>
                        <div class="flex flex-wrap items-center">
                            <span class="flex mr-4 items-center mb-3">
                                {{#if primary_author}}
                                    <a class="flex items-center text-sm" href="/author/{{primary_author.slug}}">
                                        {{#if primary_author.profile_image}}
                                            <img
                                                class="rounded-full h-6 w-6 object-cover block mr-3"
                                                src={{img_url primary_author.profile_image size="xs"}}
                                                alt="{{primary_author.name}}"
                                            />
                                            {{else}}
                                            <img
                                                class="p-2 rounded bg-gray-100 h-8 block mr-3"
                                                src={{asset "img/user.svg"}}
                                                alt="user"
                                            />
                                        {{/if}}
                                        <span>{{primary_author.name}}</span>
                                    </a>
                                {{/if}}
                            </span>
                            <span class="text-sm uppercase text-white/60 mr-4 mb-3">
                                <time datetime="{{date timeago="true"}}">{{date timeago="true"}}</time> 
                            </span>
                            {{#if primary_tag}}
                                <a href="{{primary_tag.url}}">
                                    <span class="text-sm text-white uppercase mr-2 mb-3 inline-block p-1 rounded-sm" 
                                        style="background-color: {{#if primary_tag.accent_color}}
                                                {{primary_tag.accent_color}}
                                            {{else}}
                                                '#000000'
                                            {{/if}};"
                                        >
                                        {{primary_tag.name}}
                                    </span>
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/foreach}}
{{/get}}