<section class="container py-8">
    <h3 class="text-base uppercase text-black/70">Quick Links</h3>
    <div class="mt-6 grid md:grid-cols-4 gap-4">
        <a href="/trending" class="p-4 bg-gray-200 rounded hover:ring">
            <img
                src="{{asset 'img/trending-up.svg'}}"
                alt="link"
                class="mb-4"
            />
            <span>Trending</span>
        </a>
        <a href="/columns" class="p-4 bg-gray-200 rounded hover:ring">
            <img src="{{asset 'img/users.svg'}}" alt="link" class="mb-4" />
            <span>Columns</span>
        </a>
        <a href="/" class="p-4 bg-gray-200 rounded hover:ring">
            <img src="{{asset 'img/link.svg'}}" alt="link" class="mb-4" />
            <span>Latest</span>
        </a>
        <a href="/jobs" class="p-4 bg-gray-200 rounded hover:ring">
            <img src="{{asset 'img/link.svg'}}" alt="link" class="mb-4" />
            <span>Jobs</span>
        </a>
        <a href="/safety-outlook" class="p-4 bg-gray-200 rounded hover:ring">
            <img src="{{asset 'img/link.svg'}}" alt="link" class="mb-4" />
            <span>Safety Outlook</span>
        </a>
        <a href="/videos" class="p-4 bg-gray-200 rounded hover:ring">
            <img src="{{asset 'img/video.svg'}}" alt="link" class="mb-4" />
            <span>Videos</span>
        </a>
    </div>
</section>